@model IEnumerable<DoanWeb_BanGame.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        @item.Name
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="@item.Image" width="150" height="220" />
                        </p> 
                        <p>
                            <strong>Nhà sản xuất: </strong>@item.Producer.Name
                        </p>
                        <p>
                            <strong>Nhà phát hành: </strong>@item.Publisher.Name
                        </p>
                        <p>
                            <strong>Giá niêm yết: </strong>@item.Cost
                        </p>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            @Html.ActionLink("Edit", "Edit", new { id = @item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = @item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = @item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        }
</div>
